.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}

.login_oi {
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form input {
    padding: 5px 40px;
    margin: 10px;
    margin-top: 15px;
    border: #fff 0.5px solid;
    border-bottom: #FF5038 1px solid;
    outline: none;
}

.form button {
    background-color: #FF5038;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 5px 60px;
    font-size: 30px;
    font-weight: 500;
    border-radius: 20px;
    margin: 20px;
}

.form p {
    margin-top: 12px;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-weight: 100;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.eye-icon {
    position:relative;
    margin-top: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
