
  
  .Header_dash{
    width: 100%;
    padding: 10px 25px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  }

.menu button{
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .logins button{
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
  }
  
  /* Responsive adjustments for smaller screens */
  @media (max-width: 768px) {
    .logins button {
      font-size: 14px; /* Adjust font size for smaller screens (optional) */
    }
  }
  
  /* Optional media query for even smaller screens (adjust as needed) */
  @media (max-width: 480px) {
    .login button {
      font-size: 12px; /* Further font size adjustment for very small screens */
    }
  }
  