
.Header_dash{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 25px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.menu button{
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.logins button{
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}